In [ ]:
import pandas as _hex_pandas
import datetime as _hex_datetime
import json as _hex_json

In [ ]:
hex_scheduled = _hex_json.loads("false")

In [ ]:
hex_user_email = _hex_json.loads("\"example-user@example.com\"")

In [ ]:
hex_run_context = _hex_json.loads("\"logic\"")

In [ ]:
hex_timezone = _hex_json.loads("\"US/Eastern\"")

In [ ]:
hex_project_id = _hex_json.loads("\"f30c1033-b28c-4e1d-8f07-090b7eca2226\"")

In [ ]:
hex_project_name = _hex_json.loads("\"web scraping assignment\"")

In [ ]:
hex_status = _hex_json.loads("\"\"")

In [ ]:
hex_categories = _hex_json.loads("[]")

In [ ]:
hex_color_palette = _hex_json.loads("[\"#4C78A8\",\"#F58518\",\"#E45756\",\"#72B7B2\",\"#54A24B\",\"#EECA3B\",\"#B279A2\",\"#FF9DA6\",\"#9D755D\",\"#BAB0AC\"]")

In [ ]:
# dependencies
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
# check that the site is pingable
url = "https://webpages.charlotte.edu/mscipion/"

r= requests.get(url)
print(r)

In [ ]:
# set up beautiful soup
soup = BeautifulSoup(r.text, "lxml")

In [ ]:
# find the table, verify that i found the right thing
table = soup.find("table")
print(table)

<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [ ]:
# find column headers
headers = table.find_all("th")
print(headers)

In [ ]:
# turn the column headers into a list
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [ ]:
# turn the table into a DataFrame
scraped_table= pd.DataFrame(columns=titles)
print(scraped_table)

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [ ]:
# find all of the rows of the table
rows = table.find_all("tr")
print(rows)

[<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>, <tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>, <tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>]

In [ ]:
# print all of the rows
for i in rows[1:]:
    print(i)

<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>

In [ ]:
# print the rows again, but make them look more like rows
for i in rows[1:]:
    data = table.find_all("td")
    print(data)

[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]

In [ ]:
# print the rows again, but make them look even more like rows
for i in rows[1:]:
    data = table.find_all("td")
    row = [tr.text for tr in data]
    print(row)

['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']

In [ ]:
# turn everything we've done into a dataframe with the scraped table
# using list comprehension to identify the rows and add the data to the dataframe created earlier
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    l =len(scraped_table)
    scraped_table.loc[l]= row

print(scraped_table)

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15